body {
	font-family: Georgia, sans-serif;
	margin: 0;
	padding: 0;
}
.list {
	width: 980px;
	margin: 0 auto;
}
.head:after {
	clear: both;
	content: '';
	width: 100%;
	display: table;
}
#logo {
	margin-top: 18px;
	float: left;
}
nav {
	float:right;
	margin-top: 15px;
}
.menu {
	margin-top: 18px;
	padding: 0;
	list-style-type: none;
	display: block;
}
.menu li {
	display: block;
	float: left;
	margin-right: 20px;
}
.menu a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
}
header { 
	background: url(picture/fon.jpg) no-repeat center top  / cover;
	padding-bottom: 350px;
	
}
h1 {
	padding-top: 25px;	
	text-align: center;
	font-weight: bold;
	color: black;
}
p {
	font-size: 25px;
	font-family: Century;
	text-align: justify;
	padding: 5px;
}
#about-htm .main_content {
	text-align: center;
	font-size: 16px;
}
.main_content {
	margin: 0 auto;
	padding-top: 4px;
	padding: 5px;
}

.main_content img {
	float: left;
}
 h2 {
	padding-top: 0px;	
	text-align: center;
	font-weight: bold;
	color: black;
}
.footer {
	width: 1000px;
	margin: 0 auto;
	height: 60px;
    background: #cccccc;  
 }
 h3 {
	padding-top: 0px;	
	text-align: right;
	font-weight: bold;
}
@media screen and (max-width: 976px) {
	                        body {
							background-color: white;
							}

#logo img{
	flex-direction: column;
	max-width: 35px;
	margin-left: 10px;
	}
nav  ul{
	flex-direction: column;
	padding: 0;
       }
nav li {
	font-size: 12px;
	display: inline;
	float: left;
	margin-right: 15px;
	}
nav a{
	color: black;
}
header { 
    margin: 0 auto;
	background: url(picture/fon.jpg);
	background-size: cover;
	padding-bottom: 90px;
	display: flex;
	flex-direction: column;
	  }
h1 {
	padding-top: 55px;	
	text-align: center;
	font-weight: bold;
	color: black;
	font-size: 15px;
   }
p {
	font-size: 12px;
	font-family: Century;
	text-align: justify;
	padding: 5px;
  }

#about-htm .main_content {
	font-size: 12px;
	                      }
.main_content {
	float: left;
 }
.main_content img {
	max-width: 60px;
	 height: 70px;
 }
#about-htm .main_content img {
	 max-width: 108px;
	 height: 250px;	
	  	                   }
.main_content, iframe{
	display: flex;
	flex-direction: column;
       margin-left: auto;
       margin-right: auto;
}
						   
h2 {
	text-align: center;
	font-weight: bold;
	color: black;
	font-size: 10px;
	             }

 h3 {
	text-align: right;
	padding-top: 7px;	
	font-weight: bold;
	font-size: 10px;
}

 
 
 .col, .footer, .list {
	display: flex;
	flex-direction: column;
	  max-width: 385px;
	  padding: 0;
	  
 }
  TD.leftcol {
    flex-direction: column;
	padding: 0;
    vertical-align: top; 
	display: flex;
	margin-right: 50px;
   }
 #table, th, td, li, font, a  {
    font-size: 10px;
	
   } 
TD.leftcol img {
	max-width: 120px;
	 height: 100px;
	margin-top: 90px;
	margin-left: 0px;
}
}  




